*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color:  rgb(247, 247, 247);
    position: relative;
    top: 0px;
    height: 69px;
    box-shadow:0 0 0 10x grey;
}
img{
    margin-left: 35px;
    margin-right: 800px;
    margin-top: 12px;
}
a{
    font-size: 18px;
    margin-top: 15px;
    position: absolute;
    margin-bottom: 35px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}
.an{
    color: rgba(0, 0, 0, 0.5);
}
.an:hover{
    color: rgba(0, 0, 0, 0.7);
}
#main{
    padding: 30px;
    width: 750px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
    border-radius: 5px;
    margin-top: 30px;
}
.d{
    width: 174px;
    margin-bottom: 16px;
    padding: 5px;
    display: inline-block;
}
.g{
    color: red;
    font-size: 12px;
}
#z{
    text-align: start;
    margin-bottom: 24px;
}
.r{
    font-size: 12px;
}
.o{
    width: 164px;
    height: 33px;
}
.s{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: green;
    width: 221px;
    padding: 5px;
}
input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 211px;
    border-bottom-color: green;
    padding: 5px;
}
#m{
    width: 100%;
}
#tr{
    width: 681px;
    height: 35px;
}
#fi{
    padding: 20px;
    border: 1.7px gray dotted;
    width: 613px;
    height: 25px;
    padding: 30px;
    margin:  10px 0 0 0;
}
#main:hover{
    transform: scale(1.04);
}
input:focus{
    transform: scale(1.1);
}